<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Egor Tokarev</title>
    <meta name="description" content="Egor Tokarev web developer and UX/UI designer. Tech stack: angular2+ vue.js typescript nestjs postgres mongodb">
    <link rel="stylesheet" href="/style/index.scss">
    <%- include("../blocks/utils/preload-manrope.ejs")%>
    <%- include("../../.gt_layout_template/linkicon.ejs")%>
</head>
<body>
<main class="main">
    <div class="main__content">
        <%- include("../blocks/hero/hero.ejs")%>
        <%- include("../blocks/about/about.ejs")%>
        <%- include("../blocks/projects/list.ejs")%>
        <%- include("../blocks/skills/skills.ejs")%>
    </div>
    <div class="main__bottom">
        <%- include("../blocks/footer/footer.ejs")%>
    </div>
    <%- include("../blocks/action_button/action_button.ejs")%>
</main>
<script src="/js/index.js"></script>
</body>
</html>
