<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Egor Tokarev</title>
    <meta name="description" content="Egor Tokarev web developer and UX/UI designer. Tech stack: angular2+ vue.js typescript nestjs postgres mongodb">
    <link rel="stylesheet" href="/style/index.scss">
    <%- include("../blocks/utils/preload-manrope.ejs")%>
    <%- include("../../.gt_layout_template/linkicon.ejs")%>
</head>
<body>
<main class="main">
    <div class="main__content">
        <%- include("../blocks/hero/hero.ejs")%>
        <%- include("../blocks/about/about.ejs")%>
        <%- include("../blocks/projects/list.ejs")%>
        <%- include("../blocks/skills/skills.ejs")%>
    </div>
    <div class="main__bottom">
        <%- include("../blocks/footer/footer.ejs")%>
    </div>
    <%- include("../blocks/action_button/action_button.ejs")%>
</main>
<script src="/js/index.js"></script>
<script>
  !function (w, d, t) {
    w.TiktokAnalyticsObject=t;var ttq=w[t]=w[t]||[];ttq.methods=["page","track","identify","instances","debug","on","off","once","ready","alias","group","enableCookie","disableCookie"],ttq.setAndDefer=function(t,e){t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var i=0;i<ttq.methods.length;i++)ttq.setAndDefer(ttq,ttq.methods[i]);ttq.instance=function(t){for(var e=ttq._i[t]||[],n=0;n<ttq.methods.length;n++)ttq.setAndDefer(e,ttq.methods[n]);return e},ttq.load=function(e,n){var i="https://analytics.tiktok.com/i18n/pixel/events.js";ttq._i=ttq._i||{},ttq._i[e]=[],ttq._i[e]._u=i,ttq._t=ttq._t||{},ttq._t[e]=+new Date,ttq._o=ttq._o||{},ttq._o[e]=n||{};var o=document.createElement("script");o.type="text/javascript",o.async=!0,o.src=i+"?sdkid="+e+"&lib="+t;var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(o,a)};

    ttq.load('CGJSJ43C77UFG43DN03G');
    ttq.page();
  }(window, document, 'ttq');
</script>
</body>
</html>
