<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Egor Tokarev personal site; Project: Procollab is a digital platform, it will help
                    you to become part of a team or implement your own idea as a mentor.
                    Project created to connect students with skills and project.
                    It already connected 200+ people, so I satisfied with my work">
    <link rel="stylesheet" href="/style/project.scss">
    <title>Procollab</title>
    <%- include("../../blocks/utils/preload-manrope.ejs") %>
    <%- include("../../../.gt_layout_template/linkicon.ejs") %>
</head>
<body>
<main class="project">
    <div class="project__inner">
        <a href="/" class="goback body-2 project__goback">
            <div class="goback__arrow"><%- include("../../images/icons/arrow-left.svg") %></div>
            Go back
        </a>
        <div class="project__body">
            <article class="project__content project-content">
                <div class="project-gallery project-content__gallery">
                    <ul class="project-gallery__slides">
                        <li class="project-gallery__slide">
                            <img src="/images/procollab/user-profile.png" alt="user profile">
                        </li>
                        <li class="project-gallery__slide">
                            <img src="/images/procollab/edit-profile.png" alt="edit profile">
                        </li>
                        <li class="project-gallery__slide">
                            <img src="/images/procollab/register.png" alt="registration">
                        </li>
                        <li class="project-gallery__slide">
                            <img src="/images/procollab/project-chat.png" alt="project chat">
                        </li>
                        <li class="project-gallery__slide">
                            <img src="/images/procollab/project-profile.png" alt="project profile">
                        </li>
                        <li class="project-gallery__slide">
                            <img src="/images/procollab/edit-project.png" alt="edit project">
                        </li>
                    </ul>
                </div>
                <p>
                    Procollab is a digital platform, it will help
                    you to become part of a team or implement your own idea as a mentor.
                    Project created to connect students with skills and project.
                    It already connected 200+ people, so I satisfied with my work
                </p>
                <p>
                    I'm fully responsible for front-end part of this project.
                    Backend-part written in django-restfremework
                </p>
                <h3>
                    Interesting cases in project:
                </h3>
                <p>
                    1. How i use icons in project <br> <br>
                    First of all when I paste svg from figma to .svg file I replace color with currentColor to then set
                    color from css
                    <img src="/images/procollab/code/icon-current-color.png" alt="sprite gen command">
                    Run cli command to generate sprite from icons/svg folder
                    <img src="/images/procollab/code/sprite-gen.png" alt="sprite gen command">
                    <img src="/images/procollab/code/icons.png" alt="icons folder">
                    And then use icon component to insert it into templates
                    <img src="/images/procollab/code/icon-component.png" alt="icon component">
                    <img src="/images/procollab/code/icon-component-usage.png" alt="icons component usage">
                </p>
                <p>
                    2. Api case transformer <br> <br>
                    I hate to write snake case in javascript, but most apis use this case.
                    So I created camelcase.interceptor, it transforms camelcase to snake when sent request
                    and turn it back when taking response
                    <img src="/images/procollab/code/camelcase-interceptor.png" alt="camelcase interceptor">
                    Uses <a class="link link--on-light" target="_blank"
                            href="https://www.npmjs.com/package/camelcase-keys">camelcase-keys</a>
                    and <a class="link link--on-light" target="_blank"
                           href="https://www.npmjs.com/package/snakecase-keys">snakecase-keys</a>
                    packages
                </p>
                <p>
                    3. Map api responses to typescript classes with
                    <a class="link link--on-light" target="_blank"
                       href="https://www.npmjs.com/package/class-transformer"
                    >
                        class-transformer
                    </a>
                    <br> <br>
                    First I defined api describe api responses
                    <img src="/images/procollab/code/login-response.png" alt="login resonse">
                    Then use rxjs map operator in services to map response to model
                    <img src="/images/procollab/code/plainToInstance-usage.png" alt="login resonse">
                </p>
            </article>
            <aside class="project__aside project-aside">
                <div class="project-aside__mobile-bar"></div>
                <h1 class="project-aside__title">Procollab</h1>
                <div class="project-aside__table">
                    <div class="project-aside__tr">
                        <div class="project-aside__label label-2">Repository:</div>
                        <a class="project-aside__repo body-3" href="https://github.com/PROCOLLAB-github/procollab">
                            <div class="project-aside__github-ico"><%- include("../../images/icons/github-30.svg") %></div>
                            <span>PROCOLLAB-github/procollab</span>
                        </a>
                    </div>
                    <div class="project-aside__tr">
                        <div class="project-aside__label label-2">Stack:</div>
                        <ul class="project-aside__skill-list">
                            <li class="project-aside__skill body-3">angular2+</li>
                            <li class="project-aside__skill body-3">typescript</li>
                            <li class="project-aside__skill body-3">jasmine</li>
                            <li class="project-aside__skill body-3">scss</li>
                            <li class="project-aside__skill body-3">websockets</li>
                        </ul>
                    </div>
                </div>
            </aside>
        </div>
    </div>
    <div class="project__modal project-modal">
        <div class="project-modal__overlay"></div>
        <div class="project-modal__cross"></div>
        <img class="project-modal__img" src="/">
    </div>
    <div class="project__bottom">
        <%- include('../../blocks/footer/footer.ejs') %>
    </div>
</main>
<script src="/js/project-page.js"></script>
</body>
</html>
