<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style/project.scss">
    <title>Procollab</title>
    <%- include("../../blocks/utils/preload-manrope.ejs")%>
    <%- include("../../../.gt_layout_template/linkicon.ejs") %>
</head>
<body>
<main class="project">
    <div class="project__inner">
        <a href="/" class="goback body-2 project__goback">
            <div class="goback__arrow"><%- include("../../images/icons/arrow-left.svg") %></div>
            Go back
        </a>
        <div class="project__body">
            <article class="project__content project-content">
                <div class="project-gallery project-content__gallery">
                    <ul class="project-gallery__slides">
                        <li class="project-gallery__slide">
                            <img src="/images/procollab/profile.png" alt="profile">
                        </li>
                        <li class="project-gallery__slide">
                            <img src="/images/procollab/profile.png" alt="profile">
                        </li>
                        <li class="project-gallery__slide">
                            <img src="/images/procollab/profile.png" alt="profile">
                        </li>
                    </ul>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi culpa cumque illo itaque
                    libero minima nemo odio quas qui, recusandae sed ullam vel voluptates voluptatibus! Dolore in saepe
                    soluta.
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, doloribus enim labore
                    necessitatibus nostrum quae quasi rerum voluptatem. Accusamus adipisci amet animi aperiam at autem
                    commodi consequatur debitis dignissimos doloribus dolorum earum enim ex excepturi fugit impedit
                    incidunt labore nesciunt odio praesentium quae, reiciendis repellendus sapiente, sunt tempore velit
                    veniam vero, voluptas voluptates voluptatibus. Accusamus aut cum debitis et facere iure officia
                    reiciendis sapiente! Amet incidunt officiis possimus velit voluptatem. Aliquid aperiam blanditiis,
                    doloribus dolorum et, excepturi facere fuga inventore iure possimus quasi quod recusandae temporibus
                    velit vero. Animi cumque et ex nobis nostrum officiis qui quia reprehenderit, sequi sint. Beatae
                    blanditiis dolore dolorum ducimus earum eos esse eum excepturi harum hic, illo in ipsa ipsam iste
                    iusto magnam natus non obcaecati odit officiis perspiciatis quasi qui quia rerum veniam vero
                    voluptatem, voluptates. Accusamus accusantium alias amet atque autem blanditiis consectetur
                    consequuntur dolorem dolores facilis fugiat, fugit illum impedit inventore iste iure labore natus
                    nemo officia officiis optio perferendis quae quisquam quod reiciendis reprehenderit similique unde
                    velit voluptas voluptatibus? Aut commodi distinctio, ducimus eos illum ipsum itaque labore magnam,
                    mollitia nihil nulla optio quidem quod ratione sed vel vero voluptatem! Cum facere fuga illum minima
                    officia quas quisquam sapiente sunt ut, veniam? Aperiam asperiores assumenda atque consectetur
                    cumque, cupiditate deleniti doloremque dolorum est eveniet exercitationem facilis fugit hic in modi
                    molestias nam neque nihil non nostrum perspiciatis porro quam qui quod ratione reprehenderit saepe
                    sed soluta sunt suscipit tempora tenetur totam, unde ut veniam, voluptate voluptatem. Doloremque
                    libero perspiciatis quam soluta? Ab blanditiis deleniti eum facilis, incidunt ipsum libero minima
                    nam quam, sed tempore vitae voluptatibus. Ab ad assumenda at aut corporis cumque debitis, delectus
                    deleniti deserunt dolorum eius et exercitationem expedita facere hic id illum inventore libero
                    maxime mollitia nisi odio omnis optio perferendis praesentium quibusdam quo quod repellendus
                    repudiandae sequi soluta ut vitae voluptate. Ad alias, animi, aperiam aut commodi deleniti dolores
                    ducimus eaque eligendi et fuga illo ipsum iure labore libero magni mollitia nemo neque obcaecati
                    odio pariatur perspiciatis quaerat qui rerum soluta suscipit veniam. Amet assumenda dolore, fuga in
                    laborum ratione repellendus voluptatem. Dolor harum nobis quisquam reiciendis sint? Aliquam id rerum
                    sint vitae? Aperiam aut consequuntur dolor ea enim et, fugit nisi placeat possimus! Aspernatur,
                    assumenda corporis deleniti doloremque doloribus eligendi eos esse hic ipsam itaque laborum maiores
                    necessitatibus nihil nobis non quas quis ratione totam voluptate voluptatem! Facilis iure maiores
                    quae qui sint vel!</p>
            </article>
            <aside class="project__aside project-aside">
                <div class="project-aside__mobile-bar"></div>
                <h1 class="project-aside__title">Procollab</h1>
                <div class="project-aside__table">
                    <div class="project-aside__tr">
                        <div class="project-aside__label label-2">Repository:</div>
                        <a class="project-aside__repo body-3" href="https://github.com/PROCOLLAB-github/procollab">
                            <div class="project-aside__github-ico"><%- include("../../images/icons/github-30.svg") %></div>
                            <span>PROCOLLAB-github/procollab</span>
                        </a>
                    </div>
                    <div class="project-aside__tr">
                        <div class="project-aside__label label-2">Stack:</div>
                        <ul class="project-aside__skill-list">
                            <li class="project-aside__skill body-3">angular2+</li>
                            <li class="project-aside__skill body-3">ts</li>
                            <li class="project-aside__skill body-3">svgsprite</li>
                            <li class="project-aside__skill body-3">scss</li>
                            <li class="project-aside__skill body-3">websockets</li>
                        </ul>
                    </div>
                </div>
            </aside>
        </div>
    </div>
    <div class="project__modal project-modal">
        <div class="project-modal__overlay"></div>
        <div class="project-modal__cross"></div>
        <img class="project-modal__img" src="/">
    </div>
</main>
<%- include('../../blocks/footer/footer.ejs')%>
<script src="/js/project-page.js"></script>
</body>
</html>
