<section class="skills" id="skills">
    <h1 class="home-title skills__title">Skills</h1>
    <ul class="skills__list">
        <li class="skill">
            <h2 class="skill__title title-1">

                <%- include('../../images/skills/nestjs.svg')%>
                <span>Nest.js</span>
            </h2>
        </li>
        <li class="skill">
            <h2 class="skill__title title-1">
                <%- include('../../images/skills/angular.svg')%>
                <span>Angular2+</span>
            </h2>
        </li>
        <li class="skill">
            <h2 class="skill__title title-1">
                <%- include('../../images/skills/vuejs.svg')%>
                <span>Vue.js</span>
            </h2>
        </li>
        <li class="skill">
            <h2 class="skill__title title-1">
                <%- include('../../images/skills/postgres.svg')%>
                <span>Postgres</span>
            </h2>
        </li>
        <li class="skill">
            <h2 class="skill__title title-1">
                <%- include('../../images/skills/typescript.svg')%>
                <span>Typescript</span>
            </h2>
        </li>
        <li class="skill">
            <h2 class="skill__title title-1">
                <%- include('../../images/skills/firebase.svg')%>
                <span>Firebase</span>
            </h2>
        </li>
        <li class="skill">
            <h2 class="skill__title title-1">
                <%- include('../../images/skills/docker.svg')%>
                <span>Docker/Linux</span>
            </h2>
        </li>
        <li class="skill">
            <h2 class="skill__title title-1">
                <%- include('../../images/skills/ui-ux.svg')%>
                <span>UX/UI</span>
            </h2>
        </li>
        <li class="skill">
            <h2 class="skill__title title-1">
                <%- include('../../images/skills/ci-cd.svg')%>
                <span>CI/CD</span>
            </h2>
        </li>
    </ul>
</section>
