<section class="skills" id="skills">
    <h1 class="home-title skills__title">Skills</h1>
    <ul class="skills__list">
        <li class="skill">
            <h2 class="skill__title title-1">

                <%- include('../../images/skills/nestjs.svg')%>
                <span>Nest.js</span>
            </h2>
            <h2 class="skill__body body-2">Modern , sustainable back-end framework for javascript. Large apps is easy with it </h2>
        </li>
        <li class="skill">
            <h2 class="skill__title title-1">
                <%- include('../../images/skills/angular.svg')%>
                <span>Angular2+</span>
            </h2>
            <h2 class="skill__body body-2">Front-end framework for complex apps and enterprice used a lot in my career </h2>
        </li>
        <li class="skill">
            <h2 class="skill__title title-1">
                <%- include('../../images/skills/vuejs.svg')%>
                <span>Vue.js</span>
            </h2>
            <h2 class="skill__body body-2">Simple front-end framework for small/medium apps  and startups. </h2>
        </li>
        <li class="skill">
            <h2 class="skill__title title-1">
                <%- include('../../images/skills/postgres.svg')%>
                <span>Postgres</span>
            </h2>
            <h2 class="skill__body body-2">Ths most advanced relational database in the world. Love to use it. </h2>
        </li>
        <li class="skill">
            <h2 class="skill__title title-1">
                <%- include('../../images/skills/typescript.svg')%>
                <span>Typescript</span>
            </h2>
            <h2 class="skill__body body-2">Better js) Use it everywhere instead of pure javascript. Just standard  since 2020 </h2>
        </li>
        <li class="skill">
            <h2 class="skill__title title-1">
                <%- include('../../images/skills/firebase.svg')%>
                <span>Firebase</span>
            </h2>
            <h2 class="skill__body body-2">Complex solution for back-end less apps(write apps without back-end). If u can hire only 1 engineer, hire front-end with knowledge of firebase</h2>
        </li>
        <li class="skill">
            <h2 class="skill__title title-1">
                <%- include('../../images/skills/docker.svg')%>
                <span>Docker/Linux</span>
            </h2>
            <h2 class="skill__body body-2">I use docker  to deploy my back-end apps.</h2>
        </li>
        <li class="skill">
            <h2 class="skill__title title-1">
                <%- include('../../images/skills/ui-ux.svg')%>
                <span>UX/UI</span>
            </h2>
            <h2 class="skill__body body-2">Love all things that linked with app development and it in general. So I not only a programmer, I can design apps too. (this site designed by me)</h2>
        </li>
        <li class="skill">
            <h2 class="skill__title title-1">
                <%- include('../../images/skills/ci-cd.svg')%>
                <span>CI/CD</span>
            </h2>
            <h2 class="skill__body body-2">Continues integrations and continues delivery is a major part of my workflow.
                Commonly use github-actions but can use other tools</h2>
        </li>
    </ul>
</section>
